/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
}

ul.nav {
	font-size: 13px;
}

ul.Influences {
	font-family: 'Arvo', courier, serif;
	font-size: 20px;
	text-align: left;
	font-weight: 300;
	color: #686868;
}

footer {
	background-color: #383838;
	padding-top: 10px;
	padding-bottom: 10px;
}

table {
	height: 700px;
}


#who {
	background-color: black;
	text-align: left;
}

#who p {
		text-align: left;
}

#threepiece {
}

.deadspace {
	padding-top: 38%;
}

.navbar {
	border-width: 0 0 1px;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0px;
	border-radius: 0;
	border: 0px;
}

.nav-placeholder {
	min-height: 50px;
}

.navbar-fixed-top {
	width: 100%;
	left: 0;
	padding-right: 15px;
	background-color: #222;
}

.navbar-fixed-top .nav-inner {
	margin: 0 auto;
	background-color: #222;
}

.navbar-brand {
	padding: 10px;
}

.flush {
	border: 0px;
	padding: 0px 20px;
	margin: 0px;
}

.jumbotron {
	text-align: center;
	background-attachment: fixed;
	background-image: url('../images/Sadpass/title.jpg');
	background-repeat: no-repeat;
    background-size: 100%;
	margin-bottom: 0px;
	top: 0;
  	border-width: 0 0 1px;
}

 .parallax-container {
      padding-bottom: ;

    }

.imgdiv {
	background-image: url('../images/Sadpass/imgdiv.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: -20px 0px 0px 0px;
}

/* background image copy pasta */ 

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: 50%;   /* 50% */
  }
}
/* end copy pasta */

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 5px;
}

.homepage h2, .homepage h3 {
	color: #686868;
	font-family: 'Arvo', courier, serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
	color: #686868;
}

.homepage a {
	color: #e74c3c;
}

.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage hr {
	border-top: 1px solid #686868;
	width: 300px;
	margin-top: 15px;
}

.boxes {
	box-shadow: 5px 5px 20px #888888;
	background-color: black;
	height: 250px;
	margin: 10px 0px;
	background-color: #4C4C4C;
	opacity: 0.7;
	border-radius: 15px;
	border: -15px;
	padding: 0
}

.credits p {
	font-size: 16px;
	font-weight: 700;
	color: white;
}

.Background {
	margin: 50px 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
}

.foreground {
    position: absolute;
    bottom: -100%;
    height : 100%;
    width : 100%;
    background: #888888;
    border-radius: 10px;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
}

.foreground p {
	color: black;
}

.boxes {
    position: relative;
    height:250px;
    overflow:hidden;
}

.boxes:hover .foreground {
    bottom: 0;
    width:100%;
    height:100%;
}

/* Responsive Styling */

@media (max-width: 1199px) { 

	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

}

@media (max-width: 991px) { 

	.jumbotron h1 {
		font-size: 44px;
	}

	.jumbotron p {
		padding: 0 10px;
	}

	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media (max-width: 767px) { 

	.navbar-fixed-top {
		padding-right: 0px;

	.jumbotron h1 {
		font-size: 24px;
	}

	.jumbotron p {
		font-size: 16px;
		padding: 0;
	}

	.btn-lg {
		font-size: 18px;
	}

	.homepage p {
		font-size: 18px;
	}

	footer img {
		width: 80%;
	}

}


