.player
{
   display: inline-block;
   width: 300px;
   padding: 5px;
   background-color: #E3E3E3;
   border: 1px solid #000000;
}

.button:focus {
  outline: none;
}
 
.button
{
   white-space: nowrap;
   overflow: hidden;
   border: none;
   padding: 0;
   background: rgba(255,255,255,0);
   cursor: pointer;
   vertical-align: bottom;
}
 
.button--large
{
   width: 200px;
   height: 200px;
}
 
.player__play
{

}
 
.player__play.is-playing
{

}
 
